body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

.topnav a.active {
    background-color: orange;
}

.container {
    text-align: center;
    padding: 50px;
}

#spencerImageContainer {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

#spencerPhoto {
    max-width: 30%;
    height: auto;
    border-radius: 10%;
}