body {
    margin: 0;
    background-color: #11587e;
    color: rgb(183, 184, 188);
    font-family: Monaco;
}

.topnav {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
    color: rgb(183, 184, 188);
}

.topnav a:hover {
    color: white;
    font-weight: bold;
}

.topnav a.active {
    font-weight: bold;
    color: white;
}

.container {
    text-align: center;
    padding: 3vw;
}

#spencerImageContainer {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}
#spencerPhoto {
    max-width: 30%;
    height: auto;
    border-radius: 10%;
}